@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.greetings {
    box-shadow:  5px 5px 10px #e9e9e9;
}

.carro_um {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border-color: #e9e9e9;
    margin-bottom: 15px;
}

.carro_um img{
    width: 12%;
}

.carro_um h1 {
    font-weight: 600;
}

.carro_dois {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border-color: #e9e9e9;
    margin-bottom: 15px;
}

.carro_dois img{
    width: 13%;
}

.carro_dois h1 {
    font-weight: 600;
}

.carro_tres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border-color: #e9e9e9;
    margin-bottom: 15px;
}

.carro_tres img{
    width: 12%;
}

.carro_tres h1 {
    font-weight: 600;
}


.carro_quatro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border-color: #e9e9e9;
    margin-bottom: 15px;
}

.carro_quatro img{
    width: 12%;
}

.carro_quatro h1 {
    font-weight: 600;
}

.carro_cinco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border-color: #e9e9e9;
    margin-bottom: 50px;
}

.carro_cinco img{
    width: 12%;
}

.carro_cinco h1 {
    font-weight: 600;
}


.dateTime {
    background-color: #f5f5f5;
    border-radius: 10px;
}

@media (max-width: 1500px) {

    .carro_um {
        margin-bottom: 40px;
    }

    .carro_dois {
        margin-bottom: 40px;
    }

    .carro_tres {
        margin-bottom: 40px;
    }

    .carro_quatro {
        margin-bottom: 40px;
    }
}

@media (max-width: 1298px) and (min-width: 1140px) {

    .carro_um {
        margin-bottom: 40px;
    }

    .carro_dois {
        margin-bottom: 40px;
    }

    .carro_tres {
        margin-bottom: 40px;
    }

    .carro_quatro {
        margin-bottom: 40px;
    }
}

@media (max-width: 1139px) {

    .carro_um {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_um img{
        width: 25%;
    }

    .carro_dois {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_dois img{
        width: 24%;
    }

    .carro_tres {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_tres img{
        width: 24%;
    }

    .carro_quatro {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_quatro img{
        width: 23%;
    }

    .carro_cinco {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_cinco img{
        width: 24%;
    }
}

@media (max-width: 1057px) {

    .carro_dois img {
        width: 22%;
    }
}


@media (max-width: 762px) {

    .carro_um {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_um img{
        width: 25%;
    }

    .carro_dois {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_dois img{
        width: 24%;
    }

    .carro_tres {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_tres img{
        width: 24%;
    }

    .carro_quatro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_quatro img{
        width: 23%;
    }

    .carro_cinco {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .carro_cinco img{
        width: 24%;
    }

}

@media (max-width: 578px) {

    .greetings {
        font-size: 15px;
    }

    .carro_um {
        font-size: 15px;
    }

    .carro_um img{
        width: 50%;
    }

    .carro_dois{
        font-size: 15px;
    }

    .carro_dois img{
        width: 50%;
    }

    .carro_tres {
        font-size: 15px;
    }

    .carro_tres img{
        width: 50%;
    }

    .carro_quatro {
        font-size: 15px;
    }

    .carro_quatro img{
        width: 50%;
    }

    .carro_cinco {
        font-size: 15px;
    }

    .carro_cinco img{
        width: 50%;
    }
}