@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: Poppins, sans-serif;
  }
  
  #header_visualizaCarro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow:  5px 5px 10px #dadada;
  }
  
  .logo {
    margin: 10px;
    width: 30%;
  }

  .logo img {
    height: 85px;
  }
  
  .headerITENS_visualizaCarro {
    list-style: none;
    display: flex;
  }
  
  .headerITENS_visualizaCarro>a {
    padding-left: 80px;
  }
  
  .carroEspecifics_1 {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 35px;
    background-color: #d8ebe8;
    height: 130px;
  }

  .carroEspecifics_1 h1 {
    font-size: 21px;
  }
  
  .nomeCarro_visualiza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .avaliacoesVisualiza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  } 

  .icons_visualiza {
    display: flex;
    gap: 90px;
  }

.carroEspecifics_2 {
    display: flex;
    gap: 8%;
}

.carroDados_visualiza {
    list-style: none;
}

.carroDados_visualiza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 17px;
}

.sliderVisualizar {
    display: flex;
    width: 50%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.imagem_VisualizaCarro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.slider {
    opacity: 0;
    transition: .2s;
    position: absolute;
    width: 100%;
}

.on {
    opacity: 1;
}

#prev_button, #next_button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev_button img, #next_button img {
    width: 100%;
    height: 100%;
}

.botaoContinuar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 100px;
}

.incluidoPreco {
    font-size: 15px;
    margin-bottom: 5px;
}

.botao_visualiza {
    background-color: #a3d3cd;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: 700;
}

@media (max-width: 1216px) {

  .headerITENS_visualizaCarro a {
    padding: 18px;
    font-size: 17px;
  }

  .nomeCarro_visualiza h1, a {
    font-size: 19px;
  }

  .fa-solid {
    font-size: 20px;
  }

  .carroDados_visualiza li {
    font-size: 17px;
  }

}

@media (max-width: 978px) {

  .headerITENS_visualizaCarro a {
    padding: 18px;
    font-size: 16px;
  }

  .nomeCarro_visualiza h1, a {
    font-size: 18px;
  }

  .fa-solid {
    font-size: 19px;
  }

  .carroDados_visualiza li {
    font-size: 16px;
  }

  .botao_visualiza {
    width: 170px;
  }

}

@media (max-width: 900px) and (min-width: 896px) {

  .headerITENS_visualizaCarro a {
    padding: 20px;
    font-size: 15px;
  }

  .botaoContinuar {
    margin-right: 70px;
  }

  .botao_visualiza {
    width: 140px;
  }

}

@media (max-width: 748px) {

  .headerITENS_visualizaCarro a {
    padding: 20px;
    width: 30%;
    font-size: 14px;
  }

  .nomeCarro_visualiza h1 {
    font-size: 17px;
  }

  .fa-solid {
    font-size: 17px;
  }

  .carroDados_visualiza li {
    font-size: 16px;
    justify-content: center;
  }

  .carroEspecifics_2 {
    flex-direction: row;
    margin-right: 20px;
  }

  .sliderVisualizar img {
    width: 100%;
  } 

  .botao_visualiza {
    width: 130px;
  }

}

@media (max-width: 590px) {

  .sliderVisualizar {
    width: 100%;
  }

  .carroEspecifics_2 {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .carroDados_visualiza {
    margin-left: 100px;
    margin-bottom: 90px;
  }

  .botaoContinuar {
    margin-right: 40px;
    margin-bottom: 10px;
  }

  .botao_visualiza {
    width: 120px;
  }
}