@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --bg-color: #fff;
  --primary-color: #71ada8;
  --second-color: #d9d9d9;
  --terciary-color: #324256;
  
}

.poppins-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #2D3B4D;
}

.poppins-txt {
  font-family: 'Poppins', sans-serif;
}