@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --primary-color: #71ada8;
  --second-color: #d9d9d9;
  --terciary-color: #324256;
}