
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }

.logoTelaUsuario {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 90px;
    height: 90px;
}

